
 @import url('https://fonts.googleapis.com/css2?family=Aguafina+Script&family=Alex+Brush&family=Almendra:wght@700&family=Montserrat&display=swap');
/* variables */
:root{
    --primary: #F09C43;
  }
  html{
      scroll-behavior: smooth;
  }

  @font-face{
      font-family: 'Berlin Sans light';
      src: url(assets/Berlinsans\ Light\ Regular.otf);
  }
  @font-face{
    font-family: 'Berlin Sans';
    src: url(assets/brlnsr.ttf);
}
  @font-face{
      font-family: 'Berliner';
      src: url(assets/beaswfte.ttf);
  }
  /* reset */
  body,p,a,ul,li{
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: berlin sans light ;
    letter-spacing: 1.2px;
    line-height: 12px;
   
   
}

/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
body {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
  /*navbar*/
  .nav {
    width: 100%;
    height: 65px;
    position: fixed;
    line-height: 65px;
    text-align: center;
    z-index:99 ;
}

.nav div.logo {
    float: left;
    width: auto;
    height: auto;
    padding-left: 3rem;
}
.nav .logo img{
    height:100px;
    margin-top: -15px;
    width:100px;
}

.nav div.main_list {
    height: 65px;
    float: right;
}

.nav div.main_list ul {
    width: 100%;
    height: 65px;
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav div.main_list ul li {
    width: auto;
    height: 65px;
    padding: 0;
    padding-right: 3rem;
}

.nav div.main_list ul li a {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    line-height: 65px;
    font-size: 1.5rem;
}
.downArrow{
	position: absolute;
	bottom: 8%;
	left: 50%;
}
.bounce {
	-moz-animation: bounce 2s infinite;
	-webkit-animation: bounce 2s infinite;
	animation: bounce 2s infinite;
}
@-moz-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -moz-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -moz-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -moz-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}
@-webkit-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}
@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -moz-transform: translateY(-30px);
    -ms-transform: translateY(-30px);
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -moz-transform: translateY(-15px);
    -ms-transform: translateY(-15px);
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}
/* Demo Purpose Only*/
.demo {
  font-family: 'Raleway', sans-serif;
	color:#fff;
    display: block;
    margin: 0 auto;
    padding: 15px 0;
    text-align: center;
}



/* Home section */

#head {
    width: 100%;
    height: 100vh;
    background-image: url(assets/hadyyfff.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right top;
}

.navTrigger {
    display: none;
}

.nav {
    padding-top: 20px;
    padding-bottom: 20px;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
}


/* Media qurey section */

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .container {
        margin: 0;
    }
}

@media screen and (max-width:768px) {
    .navTrigger {
        display: block;
    }
    .nav div.logo {
        margin-left: 15px;
    }
    .nav div.main_list {
        width: 100%;
        height: 0;
        overflow: hidden;
    }
    .nav div.show_list {
        height: auto;
        display: none;
    }
    .nav div.main_list ul {
        flex-direction: column;
        width: 100%;
        height: 100vh;
        right: 0;
        left: 0;
        bottom: 0;
        background-color: #111;
        /*same background color of navbar*/
        background-position: center top;
    }
    .nav div.main_list ul li {
        width: 100%;
        text-align: center;
    }
    .nav div.main_list ul li a {
        text-align: center;
        width: 100%;
        font-size: 3rem;
        padding: 20px;
    }
    .nav div.media_button {
        display: block;
    }
}


/* Animation */
/* Inspiration taken from Dicson https://codemyui.com/simple-hamburger-menu-x-mark-animation/ */

.navTrigger {
    cursor: pointer;
    width: 30px;
    height: 25px;
    margin: auto;
    position: absolute;
    right: 30px;
    top: 0;
    bottom: 0;
}

.navTrigger i {
    background-color: #fff;
    border-radius: 2px;
    content: '';
    display: block;
    width: 100%;
    height: 4px;
}

.navTrigger i:nth-child(1) {
    -webkit-animation: outT 0.8s backwards;
    animation: outT 0.8s backwards;
    -webkit-animation-direction: reverse;
    animation-direction: reverse;
}

.navTrigger i:nth-child(2) {
    margin: 5px 0;
    -webkit-animation: outM 0.8s backwards;
    animation: outM 0.8s backwards;
    -webkit-animation-direction: reverse;
    animation-direction: reverse;
}

.navTrigger i:nth-child(3) {
    -webkit-animation: outBtm 0.8s backwards;
    animation: outBtm 0.8s backwards;
    -webkit-animation-direction: reverse;
    animation-direction: reverse;
}

.navTrigger.active i:nth-child(1) {
    -webkit-animation: inT 0.8s forwards;
    animation: inT 0.8s forwards;
}

.navTrigger.active i:nth-child(2) {
    -webkit-animation: inM 0.8s forwards;
    animation: inM 0.8s forwards;
}

.navTrigger.active i:nth-child(3) {
    -webkit-animation: inBtm 0.8s forwards;
    animation: inBtm 0.8s forwards;
}

@-webkit-keyframes inM {
    50% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(45deg);
    }
}

@keyframes inM {
    50% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(45deg);
    }
}

@-webkit-keyframes outM {
    50% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(45deg);
    }
}

@keyframes outM {
    50% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(45deg);
    }
}

@-webkit-keyframes inT {
    0% {
        -webkit-transform: translateY(0px) rotate(0deg);
    }
    50% {
        -webkit-transform: translateY(9px) rotate(0deg);
    }
    100% {
        -webkit-transform: translateY(9px) rotate(135deg);
    }
}

@keyframes inT {
    0% {
        transform: translateY(0px) rotate(0deg);
    }
    50% {
        transform: translateY(9px) rotate(0deg);
    }
    100% {
        transform: translateY(9px) rotate(135deg);
    }
}

@-webkit-keyframes outT {
    0% {
        -webkit-transform: translateY(0px) rotate(0deg);
    }
    50% {
        -webkit-transform: translateY(9px) rotate(0deg);
    }
    100% {
        -webkit-transform: translateY(9px) rotate(135deg);
    }
}

@keyframes outT {
    0% {
        transform: translateY(0px) rotate(0deg);
    }
    50% {
        transform: translateY(9px) rotate(0deg);
    }
    100% {
        transform: translateY(9px) rotate(135deg);
    }
}

@-webkit-keyframes inBtm {
    0% {
        -webkit-transform: translateY(0px) rotate(0deg);
    }
    50% {
        -webkit-transform: translateY(-9px) rotate(0deg);
    }
    100% {
        -webkit-transform: translateY(-9px) rotate(135deg);
    }
}

@keyframes inBtm {
    0% {
        transform: translateY(0px) rotate(0deg);
    }
    50% {
        transform: translateY(-9px) rotate(0deg);
    }
    100% {
        transform: translateY(-9px) rotate(135deg);
    }
}

@-webkit-keyframes outBtm {
    0% {
        -webkit-transform: translateY(0px) rotate(0deg);
    }
    50% {
        -webkit-transform: translateY(-9px) rotate(0deg);
    }
    100% {
        -webkit-transform: translateY(-9px) rotate(135deg);
    }
}

@keyframes outBtm {
    0% {
        transform: translateY(0px) rotate(0deg);
    }
    50% {
        transform: translateY(-9px) rotate(0deg);
    }
    100% {
        transform: translateY(-9px) rotate(135deg);
    }
}

.affix {
    padding: 0;
    background-color: rgb(240,156,67);
    
}







/*navbar end*/

  /* base styles */
  body{
    background: black;
    overflow-x: hidden;

  }

  .button{
    background: none;
    border: 2px solid var(--primary);
    color: var(--primary);
    padding: 6px 12px;
    border-radius: 20px;
    text-align: center;
    text-transform: uppercase;
    box-shadow: 1px 2px 3px rgba(0,0,0,0.6);
    display: inline-block;
    font-size: 1em;
  }
  .button:hover{
    color: white;
    background: var(--primary);
  }
  input,textarea{
    background: rgba(255,255,255,0.05);
    padding: 10px 16px;
    border-radius: 20px;
    border: 2px solid white;
    color: #f2f2f2;
    font-size: 1em;
  }
  
  /* fonts */

  h1,h2,h3,h4{
    color: var(--primary);
    font-weight: normal;
    line-height: 1.4em;
    
  }
  p,a,li{
    color: white;
    line-height: 1.4em;
    font-size: 1.5em;
  }

  #name{
       font-family: berlin sans;
       font-size: 3.8em;
  }
  h2{
    font-size: 1.9em;
    
  }
  
  /* desktop styles */
  .grid{
      display: grid;
      grid-template-columns: repeat(8, 1fr);
  
  }

  .welcome-text{
  top: 160px;
  position: absolute;
  margin-left: 65px;  
  }
  .welcome-text p{
      width: 500px;
  }
  .welcome-text h2{
    font-family: berlin sans;
    font-size: 2.9em;
    margin: 0;
    margin-top: -20px;
    padding-bottom: 30px;
    padding-left: 20px;
  }
  .lead{
    font-size: 21px;
  }
  .lead a{
      font-size: 21px;
      cursor: pointer;
      text-decoration: underline;
      margin: 0;
     
  }
  #button1 {
    margin-left: 100px;
    margin-top: 40px; font-family: berlin sans;
  }
#info{
    text-align: justify;
   padding-bottom: 70px;
}
#contain{
    display:flex;
}

.working img{
    width:360px;
    margin-left: 50px;
}
#info h1{
    font-size: 45px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
     padding-top: 70px;
}
#contain p{
    grid-column: 4/9;
 margin-left: 35px; 
 margin-right: 50px;
}




  #portfolio h1{
     font-size: 45px;
     font-weight: 700;
      text-align: center;
      text-transform: uppercase;
      padding-top: 65px;
  }

  .projects img{
   
 height: 300px;
 width: 600px;
  }

.copyright{
    padding-top: 40px;
    padding-bottom: 50px;
    
}
.copyright p{
      color:white; 
}
.copyright ul {

    
    margin:0;
    padding:0;
    padding-bottom: 30px;
  }
  
  .copyright ul li {
    list-style: none;
    padding-top: 30px; 
    
  }
  
  .copyright ul li a {
    width:60px;
    height:60px;
    display: inline-block;
    text-align:center;
    margin:0 10px;
    border-radius: 50%;
    padding: 6px;
    box-sizing: border-box;
    text-decoration:none;
    box-shadow: 0 10px 15px rgba(0,0,0,0.3);
    background: linear-gradient(0deg, #ddd, #fff);
    transition: .5s;
  }
  
  .copyright ul li a:hover {
    box-shadow: 0 2px 5px rgba(0,0,0,0.3);
    
  }
  .copyright ul li a:hover .fa {
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  }
  
  .copyright ul li a .fa {
    border-block-start-width: 100%;
    height:100%;
    display:block;
    background: linear-gradient(0deg, #fff, #ddd);
    border-radius: 50%;
    line-height: calc(60px - 12px);
    font-size:24px;
    color: #262626;
    transition: .5s;
  }


footer{
    margin-top: 80px;
    
    background-color:#111;
    text-align: center;
    color:white;
    height: auto;
}
#created{
    font-size: 25px;
}
@font-face {
    font-family: neon;
    src: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/707108/neon.ttf);
  }
  
  .neon {
    font-family: neon;
    color: #FB4264;
    font-size: 25px;
    text-shadow: 0 0 3vw #F40A35;
  }
  
  .flux {
    font-family: neon;
    color: #426DFB;
    font-size: 25px;
    text-shadow: 0 0 3vw #2356FF;
  }
  
  .neon {
    animation: neon 1s ease infinite;
    -moz-animation: neon 1s ease infinite;
    -webkit-animation: neon 1s ease infinite;
  }
  
  @keyframes neon {
    0%,
    100% {
      text-shadow: 0 0 1vw #FA1C16, 0 0 3vw #FA1C16, 0 0 10vw #FA1C16, 0 0 10vw #FA1C16, 0 0 .4vw #FED128, .5vw .5vw .1vw #806914;
      color: #FED128;
    }
    50% {
      text-shadow: 0 0 .5vw #800E0B, 0 0 1.5vw #800E0B, 0 0 5vw #800E0B, 0 0 5vw #800E0B, 0 0 .2vw #800E0B, .5vw .5vw .1vw #40340A;
      color: #806914;
    }
  }
  
  .flux {
    animation: flux 2s linear infinite;
    -moz-animation: flux 2s linear infinite;
    -webkit-animation: flux 2s linear infinite;
    -o-animation: flux 2s linear infinite;
  }
  
  @keyframes flux {
    0%,
    100% {
      text-shadow: 0 0 1vw #1041FF, 0 0 3vw #1041FF, 0 0 10vw #1041FF, 0 0 10vw #1041FF, 0 0 .4vw #8BFDFE, .5vw .5vw .1vw #147280;
      color: #28D7FE;
    }
    50% {
      text-shadow: 0 0 .5vw #082180, 0 0 1.5vw #082180, 0 0 5vw #082180, 0 0 5vw #082180, 0 0 .2vw #082180, .5vw .5vw .1vw #0A3940;
      color: #146C80;
    }
  }

  /* mobile styles */

  @media screen and (max-width:420px){

    #head{
        background-image: none;
    }
    .welcome-text{
        margin-left: 20px;
    }
    .welcome-text p{
        width: 400px;
    }
    #head h2{
        font-size: 1.9em;
        
    }
    #head .lead{
        text-align: start;
        padding-right: 200px;
    }
    #name{
        font-size: 2.5em;
        align-items: top center;
    }
    .downArrow{
        position: absolute;
    }
    #head .button{
        margin-top: 60px;
    }
    .working{
        display: none;
    }
    .bio{
       display: block;
    }
    #portfolio h1{
        margin-top: -90px;
        font-size: 1.5em;
    }
    footer{
        padding-top: -300px;
    }
    .copyright p{
        font-size: 1.2em;
    }
    .copyright ul li a{
        size: 0.8em;
    }
    #created{
        font-size: 1.2em;
    }
    .neon{
        font-size: 0.9em;
    }
    .flux{
        font-size: 0.9em;
    }
  }